<?xml version="1.0"?>
<robot name="mobilnya_ipul" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 1.57" />
            <geometry>
                <mesh filename="package://car_desc/meshes/Car.dae" />
            </geometry>
        </visual>
    </link>

    <link name="base_footprint_link">
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint_link" />
        <child link="base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

</robot>